$primaria: #0099ff;
$contraste: #2c4a78;
$neutra: #ffffff;
$background: #f0f2f6;
$sombra: #bababb;
$desativado: #8b8888;
$t_titulo: #879db2;
$t_texto: #4d5770;
$degrade: linear-gradient(270deg, #0035c2 4.31%, #0099ff 100%);
