@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap");

$fonte: "Open Sans", sans-serif;
$titulo: 300;
$textos: 400;
$botoes: 600;
$links: 700;
